body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    margin: 0;
    background-color: black;
    @media screen and (width < 640px) {
        .mainContainer{
            grid-template-columns: 1fr;
            width: 100vw;
        }
        /*.headerContainer {*/
        /*    grid-template-columns: max-content 1fr;*/
        /*    width: 100vw;*/
        /*}*/
    }
}

h1, h2 {
    padding: 4%;
    display: flex;
    color: darkcyan;
    font-weight: bolder;
}

p {
    color: white;
}

.navbar {
    display: grid;
    grid-area: navbar;
    background-color: darkcyan;
}
.navbar > select {
    background-color: darkcyan;
}

/*HEADER*/
/*.headerContainer {*/
/*    display: grid;*/
/*    grid-template-areas: "navbar header";*/
/*    grid-template-columns: 20% auto ;*/
/*}*/
/*.header {*/
/*    display: grid;*/
/*    grid-area: header;*/
/*    background-color: black;*/
/*}*/

/*.logo{*/
/*    padding: 3%;*/
/*    max-width: 100%;*/
/*    height: fit-content;*/
/*    max-height: 20vh;*/
/*}*/
/*MAIN CONTENT*/
.mainContainer {

    display: grid;
    grid-template-areas: "navbar header sidebarRight"
                "sidebarLeft mainContent sidebarRight";
    grid-template-columns: 1fr 2fr 1fr;
    width: 100%;
    max-width: 100vw;
}
.mainContent {
    grid-area: mainContent;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(20, 20, 20);
}
.categories {
    display: grid;
    grid-area: mainContent;
    grid-template-columns: repeat(2, 1fr);
    max-width: fit-content;
    gap: 20px;
}

.catBtn{
    background-image: linear-gradient(rgb(20, 20, 20), black);
    justify-content: center;
    display: flex;
    flex-direction: column;
    border: none;
    padding: 5px;
}
.catBtn:focus {
    outline: darkcyan;
    outline-style: solid;
    
}
.catBtn label{
    color: white;
    width: fit-content;
}

/*SIDEBARS*/
.sidebarLeft {
    grid-area: sidebarLeft;
    background-color: black;
}
.sidebarRight {
    grid-area: sidebarRight;
    background-color: black;
}
/*GENERAL*/
figcaption {
    color: darkcyan;
}
figure {
    background-image: linear-gradient(rgb(20, 20, 20), black);
    justify-content: center;
    display: grid;
    gap: 15px;
}
#desc {
    display: flex;
    justify-self: center;
    max-width: 50%;
}
.blogFeed img {
    max-width: 80%;
}
.blogFeed article{
    margin: 3%;
}