body{
    background-image: linear-gradient(rgb(26, 89, 131), black);
    background-repeat: no-repeat;
    height: 1025px;
}

.categories{
    justify-content: center;
    padding-top: 20%;
    padding-left: 20%;
    width: auto;
    height: auto;
    display: grid;
    align-items: center;
    grid-template-columns: 140px 140px;
    grid-template-rows: 140px 140px;
}

#info{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    padding-top: 20%;
}

#desc{
    width: 60%;
}

.wrapalign{
    display: flex;
    gap: 2%;
}