body{
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
}
p{
    color: white;
}
h1{
    color: white;
    justify-content: center;
    display: grid;
}
.headerHome{
    color: white;
     font-size: 30px; 
    justify-content: center;
    display: grid;
    padding: 5%;
}
.categories{
    justify-content: center;
    display: grid;
    grid-auto-flow: column;
    padding: 5%;
    gap: 15px;
    
}
#info{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    padding-top: 5%;
}
#desc{
    width: 60%;
    color: white;
}