body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    background-color: black;
}
h1, h2{
    padding: 4%;
    display: flex;
    color: darkcyan;
    font-weight: bolder;
    justify-content: center;
}
p{
    color: white;
}
figcaption{
    color: darkcyan;
}
.headerHome{
    justify-content: center;
    display: grid;
    padding: 5%;
}
.categories, figure{
    background-image: linear-gradient(rgb(20,20,20), black);
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 2%;
}
article h2{

    border-color: darkcyan;
    border-top: darkcyan 1px solid;
}


.categories img{
}
#info{
}
#desc{
    display: flex;
    justify-self: center;
    max-width: 50%;
}
.blogFeed img{
    max-width: 90%;
}